<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment receipt</title>
    <!-- ========= links start ========= -->
      <%- include('../snippets/links.ejs') %>
      <link rel="stylesheet" href="/css/components.css">
      <!-- ========= links end ========= -->
  </head>
  <body>
<% var context %>

   
<div class="main-container">
  <!-- ========= topbar starts ========= -->
 <%- include('../snippets/topbar.ejs') %>
  <!-- ========= topbar ends ========= -->



  <!-- =============== footbar starts ================== -->
  <%- include('../snippets/footbar.ejs') %>
<!-- =============== footbar ends ================== -->


  <!-- ============== this container holds everything in sidebar(navigation bar) -->
  <%- include('../snippets/navbar.ejs') %>
<!-- navigation bar ends -->

<div class="body-content">

 


  <% if (context.transaction) { %>
   
    <div class="receipt_container">
          <div class="receipt">
                <div class="logo">fraudShield</div>
                <div class="subject">transaction receipt</div>
    
                <div class="receipt_details">
                      <div class="receipt_label">transaction type:</div>
                      <div class="receipt_value"><%= context.transaction.transaction_type %></div>
                </div>
                <div class="receipt_details">
                      <div class="receipt_label">status:</div>
                      <div class="receipt_value"><%= context.transaction.status %></div>
                </div>

                <div class="receipt_details">
                      <div class="receipt_label">Sender:</div>
                      <div class="receipt_value"><%= context.transaction.user.full_name %></div>
                </div>

                 <% if (context.transaction.recipient) { %>
                 
                  <div class="receipt_details">
                        <div class="receipt_label">Receiver:</div>
                        <div class="receipt_value"><%= context.transaction.recipient.full_name %></div>
                  </div>
                <% } %>

                <div class="receipt_details">
                      <div class="receipt_label">amount:</div>
                      <div class="receipt_value">₦ <%= context.transaction.amount %></div>
                </div>
                <div class="receipt_details">
                      <div class="receipt_label">Sender</div>
                      <div class="receipt_value"><%= context.transaction.regDate %></div>
                </div>
                <div class="receipt_details">
                      <div class="receipt_label">transaction ID:</div>
                      <div class="receipt_value"><%= context.transaction._id %></div>
                </div>
          </div>
          </div>
  <% } %>
</div>





</div>



</div>
<script src="/js/actions.js"></script>

<script>
const nf = new Intl.NumberFormat('en-NG', {
  style: 'currency',
  currency: 'NGN',
  maximumFractionDigits: 2
});
console.log(nf.format(1500)); // "₦1,500.00"
document.querySelector('.amoun').textContent = nf.format(1500);
</script>
  </body>
</html>
