<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifications</title>
    <!-- ========= links start ========= -->
      <%- include('../snippets/links.ejs') %>
      <!-- ========= links end ========= -->
  </head>
  <body>
<% var context %>

   
<div class="main-container">
  <!-- ========= topbar starts ========= -->
 <%- include('../snippets/adminTop.ejs') %>
  <!-- ========= topbar ends ========= -->



  <!-- ============== this container holds everything in sidebar(navigation bar) -->
  <%- include('../snippets/adminNav.ejs') %>
<!-- navigation bar ends -->

<div class="body-content">
  <!-- <div class="page_title">Dashboard</div> -->


  <% if (context.notifications.length > 0) { %>
      <div class="notification_container">
            <div class="table-subject notification_subject"><i class="fa-solid fa-caret-right"></i> Notifications</div>
      <% context.notifications.forEach(notification => { %>



        <% if (notification.user) { %>



                      <% if (notification.sender_message) { %>

                         <div class="notification">
                      <span><%= notification.sender_message %></span>
                        <p><%= notification.regDate %></p>
                        <div class="account">
                              <a href="/admin/account/<%= notification.user._id %>"><%= notification.user.full_name %></a>
                        </div>
                         </div>

                       <% } %>

                        <% } %>



                        <% if (notification.recipient) { %>

                      <% if (notification.recipient_message) { %>

                        <div class="notification">
                      <span><%= notification.recipient_message %></span>
                        <p><%= notification.regDate %></p>
                        <div class="account">
                              <a href="/admin/account/<%= notification.user._id %>"><%= notification.user.full_name %></a>
                        </div>
                        </div>

                       
                       <% } %>

                        <% } %>


        
                        <% if (notification.message) { %>
                         
                          <div class="notification">
                                <span><%= notification.message %></span>
                                <p><%= notification.regDate %></p>
                                <div class="account">
                                      <a href="/admin/account/<%= notification.user._id %>"><%= notification.user.full_name %></a>
                                </div>
                          </div>
                        <% } %>
                  
                  <% }) %>
            </div>
  <% } %>

     

    

  
<% if (!context.notifications.length > 0) { %>
  <div class="no-output">
            No notification found
       </div>
  <% } %>




</div>



</div>
<script src="/js/actions.js"></script>
  </body>
</html>
