<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accounts</title>
    <!-- ========= links start ========= -->
      <%- include('../snippets/links.ejs') %>
      <!-- ========= links end ========= -->
  </head>
  <body>
<% var context %>

   
<div class="main-container">
  <!-- ========= topbar starts ========= -->
 <%- include('../snippets/adminTop.ejs') %>
  <!-- ========= topbar ends ========= -->



  <!-- ============== this container holds everything in sidebar(navigation bar) -->
  <%- include('../snippets/adminNav.ejs') %>
<!-- navigation bar ends -->

<div class="body-content">
  <!-- <div class="page_title">Dashboard</div> -->


  <% if (context.this_user) { %>
      <div class="form-container">
               <div class="form-subject">update an account</div>
              <form id="form">
    
                   <label for="">Fullname</label>
                   <input type="text" name="full_name" value="<%= context.this_user.full_name %>">
                   <input type="text" name="id" value="<%= context.this_user._id %>" hidden>

                   <label for="">Email</label>
                   <input type="text" name="email" value="<%= context.this_user.email %>">
    
                   <label for="">Contact</label>
                   <input type="text" name="contact" value="<%= context.this_user.contact %>">
    
    
                   <label for="">Gender</label>
                   <select name="gender">
                     <option value="">Gender</option>

                     <option value="male"
                     <% if (context.this_user.gender === 'male') { %>
                      selected
                     <% } %>
                     >Male</option>
                     <option value="female"
                      <% if (context.this_user.gender === 'female') { %>
                      selected
                     <% } %>
                     >Female</option>
                   </select>


                   <label for="">Fund Account</label>
                   <input type="text" name="amount" placeholder="Amount">
    
                   <button id="submit_btn" type="submit">Submit</button>
              </form>
         </div>
   
  <% } %>


 <!-- <div class="add-btn">
             <a href="add_account">
                   <button><i class="fa-solid fa-plus"></i></button>
             </a>
        </div>
</div> -->

<div class="message" id="message" hidden>uuuu</div>

</div>
<script src="/js/actions.js"></script>
<script src="/formHandlers/update_account.js"></script>
  </body>
</html>
